<section class="bg-white rounded-2xl shadow-sm border border-slate-100 overflow-hidden">
  <!-- Cabecera -->
  <div class="bg-blue-700 text-white grid grid-cols-[1fr_auto_auto_auto] gap-4 px-5 py-3 text-sm font-semibold">
    <span>Artículos</span>
    <span class="text-center w-28">Cantidad</span>
    <span class="text-right w-24">Total</span>
    <span class="w-8"></span>
  </div>

  <div class="min-h-[500px] max-h-[500px] overflow-y-auto">
    @if (cart.items().length === 0) {
      <!-- Estado vacío -->
      <div class="h-[500px] flex flex-col items-center justify-center">
        <p class="text-lg font-medium text-slate-500">Venta vacía</p>
        <p class="text-sm text-slate-400 mt-1">
        Escanea un código o escribe un SKU para empezar
       </p>
      </div>
    } @else {
      <!-- Líneas del articulo -->
      @for (item of cart.items(); track item.product.id) {
        <div class="grid grid-cols-[1fr_auto_auto_auto] gap-4 px-5 py-3.5 items-center border-b border-slate-100">
          <div>
            <p class="font-medium text-slate-800">{{ item.product.name }}</p>
            <p class="text-xs text-slate-500">
              {{ item.product.sku }} &middot;
              {{ item.product.price | number : '1.2-2' }} c/u
            </p>
          </div>

          <div class="flex items-center gap-2 w-28 justify-center">
            <button
              (click)="decrease(item.product.id, item.quantity)"
              class="w-8 h-8 border border-slate-300 rounded-lg text-slate-600 hover:bg-slate-100"
            >-</button>

            <span class="w-6 text-center font-medium">{{ item.quantity }}</span>

            <button
              (click)="increase(item.product.id, item.quantity)"
              class="w-8 h-8 border border-slate-300 rounded-lg text-slate-600 hover:bg-slate-100"
            >+</button>
          </div>

          <span class="text-right w-24 font-semibold text-slate-800">
            ${{ item.subtotal | number : '1.2-2' }}
          </span>

          <button
            (click)="remove(item.product.id)"
            class="w-8 h-8 text-slate-400 hover:text-red-600 hover:bg-red-50 rounded-lg"
          >✕</button>
        </div>
      }
    }
  </div>
</section>
