# Dependencias
node_modules/
frontend/.angular/

# Compilados backend
backend/target/

# Compilados frontend
frontend/dist/

# IDEs
.idea/
.vscode/
*.iml

# Logs y temporales
*.log
.DS_Store

# Variables de entorno con credenciales - NUNCA SUBIR A Git
.env
backend/.env
*.env

# el .env.example Si se sube(es la plantilla sin valores reales)
!.env.example